<tool name="Launchy">  <version>6.3.0</version>  <date>2019-07-27</date>  <container>#._Launchy</container>  <needs>    <script>APLTreeUtils</script>    <script>HandleError</script>    <script>IniFiles</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>WinReg</script>    <script>WinSys</script>    <script development="1">Tester</script>    <script>GitHubAPIv3</script>  </needs>  <ignoreForNow>    <ws copy="Rumba">Rumba</ws>  </ignoreForNow>  <autoload>1</autoload>  <buildid>144</buildid></tool>