<tool name="Launchy">  <version>6.1.1</version>  <date>2019-06-11</date>  <container>#._Launchy</container>  <files>    <file>Launchy.exe</file>    <file>Launchy.ini.RemoveMe</file>    <file>Launchy.ico</file>    <file>Launchy_manual.html</file>  </files>  <ignoreForNow>    <file>conga30ssl32.dll</file>    <file>conga30_32.dll</file>  </ignoreForNow>  <needs>    <script>APLTreeUtils</script>    <script>HandleError</script>    <script>IniFiles</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>WinReg</script>    <script>WinSys</script>    <script development="1">Tester</script>    <script>GitHubAPIv3</script>  </needs>  <ignoreForNow>    <ws copy="Rumba">Rumba</ws>  </ignoreForNow>  <scriptOnly>0</scriptOnly>  <wsid>Development</wsid>  <autoload>1</autoload>  <buildid>137</buildid></tool>