<tool name="Launchy">  <version>4.5.2</version>  <date>2018-12-22</date>  <container>#._Launchy</container>  <files>    <file>Launchy.exe</file>    <file>Launchy.ini.RemoveMe</file>    <file>Launchy.ico</file>    <file>Launchy_manual.html</file>  </files>  <needs>    <script library="APLTree">APLTreeUtils</script>    <script library="APLTree">HandleError</script>    <script library="APLTree">IniFiles</script>    <script library="APLTree">FilesAndDirs</script>    <script library="APLTree">OS</script>    <script library="APLTree">WinReg</script>    <script library="APLTree">WinSys</script>    <script library="APLTree">Tester</script>  </needs>  <scriptOnly>0</scriptOnly>  <wsid>Development</wsid>  <autoload>1</autoload>  <buildid>84</buildid></tool>